<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />

<link href="/css/reset.css" th:href="@{/css/reset.css}" rel="stylesheet" />
<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />


<title>SKY.com</title>
</head>
<body>
<header th:insert="fragments/page_header::pageHeader"></header>
<main>
	<div class="container">
		<form th:object="${SearchForm}" th:action="@{searchitem}" method="post" >
			カテゴリ
			<select name="categoryId"  id="category">
				<option value="0">---</option>
				<option th:each="item:${categoryList}" th:text="${item.categoryName}" th:selected="${select==item.id} " th:value="${item.id}"></option>
			</select>
			商品名（部分一致）
			<input type="text" name="productName"  th:value="${productName}"/>
			<button type="submit">検索</button>
		</form>
		<div class="noData " th:if="${productList==null || productList.size()==0}">
			<p class="info">検索結果はありません。</p>
		</div>
		<table class="top" th:if="${productList != null && productList.size()>0}">
			<tr>
				<th>画像</th><th>商品名</th><th>価格(円)</th><th>個数</th><th>カート</th>
 			</tr>
			<tr th:each="item: ${productList}" >
		 		<td>
					<a th:href="@{/sky/product/{id}(id=${item.id})}"><img class="itemImage" th:src="@{{imagePath}(imagePath=${item.imageFullPath})}" /> </a> 
				</td>
				<td>
					<a th:href="@{/sky/product/{id}(id=${item.id})}" th:text="${item.productName}" > </a>  
				</td>
				<td th:text="${item.price}" /> 
				<td class="componentTd">
					<input type="number" name="productCount" id="productCount" class="count number" value="0"/>
					<input type="hidden"  th:value="${item.id}" id="productId" name="productId"/> 
				</td>
				<td class="componentTd"><button class="cartButton">追加</button></td>
			</tr> 
<!-- 			Mock Start -->
<!--  			<tr>
				<td class="image">
					<a href="#"><img class="itemImage" src="/img/may/rose.jpg" alt="" /></a>
				</td>
				<td><a href="#">バラ</a></td>
				<td class="number">1200</td>
				<td class="componentTd"><input type="number" class="count number" value="0"/></td>
				<td class="componentTd"><button class="cartButton">追加</button></td>
			</tr>
			<tr>
				<td class="image">
					<a href="#"><img class="itemImage" src="/img/feb/clerodendrum.jpg" alt="" /></a>
				</td>
				<td><a href="#">クラリンドウ（クレロデンドルム）</a></td>
				<td class="number">1000</td>
				<td class="componentTd"><input type="number" class="count number" value="0"/></td>
				<td class="componentTd"><button class="cartButton">追加</button></td>
			</tr>
			<tr>
				<td class="image">
					<a href="#"><img class="itemImage" src="/img/jun/lavender.jpg" alt="" /></a>
				</td>
				<td><a href="#">ラベンダー</a></td>
				<td class="number">890</td>
				<td class="componentTd"><input type="number" class="count number" value="0"/></td>
				<td class="componentTd"><button class="cartButton">追加</button></td>
			</tr>
			<tr>
				<td class="image">
					<a href="#"><img class="itemImage" src="/img/sep/lantana.jpg" alt="" /></a>
				</td>
				<td><a href="#">ランタナ</a></td>
				<td class="number">270</td>
				<td class="componentTd"><input type="number" class="count number" value="0"/></td>
				<td class="componentTd"><button class="cartButton">追加</button></td>
			</tr>
			<tr>
				<td class="image">
					<a href="#"><img class="itemImage" src="/img/sep/begonia.jpg" alt="" /></a>
				</td>
				<td><a href="#">ベゴニア</a></td>
				<td class="number">680</td>
				<td class="componentTd"><input type="number" class="count number" value="0"/></td>
				<td class="componentTd"><button class="cartButton">追加</button></td>
			</tr> -->
<!-- 			Mock End -->
		</table>
	
	</div>
</main>
<script>  
  $(() => {
	  $('.cartButton').on('click',addCart);
  });
  let addCart = (event) => {
	  let cartList = $(event.target).parent().parent();
	  
	  let productId = $(cartList).find('#productId').val();
	  let productCount= $(cartList).find('#productCount').val();
	  if(productCount==0){
		  alert('個数が０です。');
		  return;
}
	  location.replace(`/sky/cart/add?productId=${productId}&productCount=${productCount}`);
  };
</script>
</body>
</html>