<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.internous.sky.model.mapper.MstProductMapper">
	 <select id="findByCategoryIdAndProductName" resultType="jp.co.internous.sky.model.domain.MstProduct"> 
			SELECT * FROM mst_product
			WHERE category_id= #{categoryId}
			AND
			<foreach collection="productName" item="name" open="(" close=")"  index="i" separator="">
				<choose>
					<when test="i==0">
						(product_name LIKE '%${name}%')
					</when>
					<otherwise>
						OR (product_name LIKE '%${name}%')
					</otherwise>
				</choose>
			</foreach>
	</select>  
	  <select id="findByProductName" resultType="jp.co.internous.sky.model.domain.MstProduct"> 
	  	SELECT * FROM mst_product WHERE
	  		<foreach collection="productName" item="name" open="(" close=")"  index="i" separator="">
				<choose>
					<when test="i==0">
						(product_name LIKE '%${name}%')
					</when>
					<otherwise>
						OR (product_name LIKE '%${name}%')
					</otherwise>
				</choose>
			</foreach>
	  </select>
</mapper>